<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col cols="4">
                <PastelChart :pastel="pastel" :data="pastel.data"/>
                <div class="text-center">
                    <v-chip class="ma-2" color="teal darken-1" label text-color="white">
                        {{ pastel.data[0] }}%
                        Terminado
                    </v-chip>

                    <v-chip class="ma-2" color="pink lighten-1" label text-color="white">
                        {{ pastel.data[1] }}%
                        Restante
                    </v-chip>
                </div>
            </v-col>
            <v-col cols="8">
                <CompChart :comp="comp" :data="comp.data"/>
                <div class="text-center justify-center">
                    <v-chip class="ma-2" color="grey darken-1" label text-color="white">
                       % Porcentaje de las Etapas
                    </v-chip>
                </div>
            </v-col>

        </v-row>
    </v-container>
</template>

<script>
import PastelChart from "../PastelChart";
import CompChart from "../CompChart";
    export default {
        components: {
            PastelChart,
            CompChart
        },
        data() {
            return {

            }
        },
        beforeCreate () {

        },
        computed: {
            pastel() {
                return this.$store.state.pastel;
            },
            comp() {
                return this.$store.state.barras;
            }
        },

    }
</script>

<style lang="scss" scoped>

</style>
