<template>
    <v-container fluid >
        <v-row justify="space-between" class="py-0 mt-5">
            <v-col cols="6" class="pl-5 py-0">
                <span class="title">Edicion de actividad: </span>
            </v-col>
            <v-col cols="4" class="py-0 text-end mr-5">
                <v-btn  color="cyan darken-1" dark :loading="loading"  @click="registrar()">
                    Actualizar
                    <v-icon right>mdi-content-save</v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-form ref="form">
            <v-row justify="center" class="pb-0">
                <v-col cols="6" class="py-0">
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="formulario.fecha_inicio" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_inicio"
                                        label="Fecha inicio"
                                        prepend-icon="event"
                                        readonly
                                        disabled
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_inicio" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu.save(formulario.fecha_inicio)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-select
                            v-model="formulario.responsable"
                            :items="responsable"
                            label="Responsable"
                            required

                            multiple
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6" class="py-0">
                    <v-row justify="start" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu_dos" v-model="menu_dos" :close-on-content-click="false" :return-value.sync="formulario.fecha_fin" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_fin"
                                        label="Fecha fin"
                                        prepend-icon="event"
                                        readonly
                                        :rules="[v => !!v || 'campo requerido']"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_fin" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu_dos = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu_dos.save(formulario.fecha_fin)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="start" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-text-field
                                v-model="formulario.estatus"
                                prepend-icon="mdi-finance"
                                label="Estatus"
                                required
                                hint="Solo valor númerico"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6" class="mt-0 pt-0">
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <v-select
                            v-model="formulario.etapa"
                            :items="etapa"
                            label="Etapa"
                            disabled
                            item-text="text"
                            item-value="id"
                            required
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <v-textarea
                                outlined
                                no-resize
                                name="descripcion"
                                v-model="formulario.descripcion"
                                label="Descripción"
                                counter="255"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0" v-if="pdfCargado.length !== 0">
                            <span>
                                PDF´s Guardados:
                            </span>
                            <span v-for="(item,index) in pdfCargado" :key="index">
                                <v-btn text color="blue" @click="abrirPDF(item)">{{ item.descripcion +' '+ item.id}}</v-btn>
                                <v-icon dark left color="red" @click="agregarEliminar(item, index)">mdi-delete</v-icon>
                            </span>
                            
                        </v-col>
                        <v-col cols="12" class="py-0" v-else>
                            <span>
                                PDF´s Guardados:
                            </span>
                            <v-btn  text color="red" >No hay pdf´s guardados</v-btn>
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <v-file-input multiple  small-chips v-model="formulario.pdf" label="Agregar PDF" accept = ".pdf" prepend-icon="mdi-paperclip">
                                <template v-slot:selection="{ text }">
                                    <v-chip small label color="primary">
                                        {{ text }}
                                    </v-chip>
                                </template>
                            </v-file-input>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-form>

        <v-snackbar v-model="notificacion" color="success" right="right" :timeout="2000" top="top"> Actividad registrada!!
            <v-btn  dark text  @click.prevent="notificacion = false" >cerrar</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                loading:false,
                pdfCargado:[],
                menu:false,
                menu_dos:false,
                notificacion:false,
                formulario:{
                    fecha_inicio:null,
                    fecha_fin:null,
                    responsable:'',
                    descripcion:'',
                    estatus:'',
                    etapa:'',
                    pdf:null,
                    existentes:[]
                },
                etapa:[
                    {id:1,text:'Etapa 1 - Planeación de Arranque'},
                    {id:2,text:'Etapa 2 – Instalación Infraestructura Servidores'},
                    {id:3,text:'Etapa 2 – Instalación Infraestructura Pc´s'},
                    {id:4,text:'Etapa 3 - Transferencia Operativa'},
                ],
                responsable:[
                    'GDC','SESA-LESP','GDC,SESA-LESP'
                ]
            }
        },
        computed: {
            registro() {
                return this.$store.state.ActividadSeleccionada;
            }
        },
        beforeMount () {
            if (this.registro === null) {
                this.$router.push('/administrador/tabla')
            } else {
                this.cargarActividad(this.registro);

            }
        },
        mounted () {
            // this.cargarActividad(this.registro);
        },
        methods: {
            registrar() {
                this.loading = true;
                if (this.$refs.form.validate()) {
                    let formData = new FormData;
                    for (const key in this.formulario) {
                        if (key == 'pdf' || key == 'existentes') {
                           for (const key2 in this.formulario[key]) {
                                let archivo = this.formulario[key][key2];
                                formData.append(key+'[]', archivo)
                            }
                        } else {
                            formData.append(key, this.formulario[key]);
                        }
                    }
                    formData.append('_method','PUT');
                    axios.post('/actividad/'+this.registro.id,formData,
                    {headers: {'Content-Type': 'multipart/form-data'}})
                        .then(
                            response => {
                                this.loading = false;
                                if(response.data.success){
                                    this.notificacion = true;
                                    this.loading = false;
                                    setTimeout(() => {
                                        this.$store.dispatch('getActividades');
                                        this.$store.dispatch('getAvances');
                                        this.$router.push('/administrador/tabla');
                                    }, 1000);
                                    location.reload();
                                }
                            }
                        )
                } else {
                    setTimeout(() => {
                        this.loading = false;
                        this.$refs.form.resetValidation()
                    }, 3000);

                }
            },
            cargarActividad(a){
                this.formulario.fecha_inicio = a.fecha_inicio;
                this.formulario.fecha_fin = a.fecha_fin;
                this.formulario.responsable = a.responsable;
                this.formulario.descripcion = a.descripcion;
                this.formulario.estatus = a.estatus;
                this.formulario.etapa = a.etapa;
                if (a.archivos != null) {
                    this.pdfCargado = a.archivos;
                }
            },
            abrirPDF(item){
                window.open(`/actividad-archivo/${item.id}`, '_blank');
            },
            agregarEliminar(item,i){
                this.formulario.existentes.push(item.id);
                this.pdfCargado.splice(i,1)
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
