<template>
    <v-container fluid >
        <v-row justify="space-between" class="py-0 mt-5">
            <v-col cols="6" class="pl-5 py-0">
                <span class="title">Registro de actividades</span>
            </v-col>
            <v-col cols="6" class="py-0 text-end">
                <v-btn  color="cyan darken-1" dark :loading="loading"  @click="registrar()">
                    Registrar
                    <v-icon right>mdi-content-save</v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-form ref="form">
            <v-row justify="center" class="pb-0">
                <v-col cols="6" class="py-0">
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="formulario.fecha_inicio" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_inicio"
                                        label="Fecha inicio"
                                        prepend-icon="event"
                                        readonly
                                        :rules="[v => !!v || 'campo requerido']"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_inicio" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu.save(formulario.fecha_inicio)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-select
                            v-model="formulario.responsable"
                            :items="responsable"
                            :rules="[v => !!v || 'Responsable es requerido']"
                            label="Responsable"
                            required
                            multiple
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6" class="py-0">
                    <v-row justify="start" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu_dos" v-model="menu_dos" :close-on-content-click="false" :return-value.sync="formulario.fecha_fin" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_fin"
                                        label="Fecha fin"
                                        prepend-icon="event"
                                        readonly
                                        :rules="[v => !!v || 'campo requerido']"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_fin" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu_dos = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu_dos.save(formulario.fecha_fin)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="start" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-text-field
                                v-model="formulario.estatus"
                                prepend-icon="mdi-finance"
                                label="Estatus"
                                required
                                :rules="[v => !!v || 'campo requerido']"
                                hint="Solo valor númerico"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6" class="mt-0 pt-0">
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <v-select
                            v-model="formulario.etapa"
                            :items="etapa"
                            :rules="[v => !!v || 'campo requerido']"
                            label="Etapa"
                            item-text="text"
                            item-value="id"
                            required
                            ></v-select>
                        </v-col>
                    </v-row>
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <v-textarea
                                outlined
                                no-resize
                                name="descripcion"
                                v-model="formulario.descripcion"
                                label="Descripción"
                                counter="255"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <v-file-input
                                v-model="formulario.pdf"
                                multiple
                                small-chips
                                label="Subir PDF (Opcional)"
                                accept = ".pdf"
                                prepend-icon="mdi-paperclip"
                            >
                                <template v-slot:selection="{ text }">
                                <v-chip
                                    small
                                    label
                                    color="primary"
                                >
                                    {{ text }}
                                </v-chip>
                                </template>
                            </v-file-input>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-form>

        <v-snackbar v-model="notificacion" color="success" right="right" :timeout="2000" top="top"> Actividad registrada!!
            <v-btn  dark text  @click.prevent="notificacion = false" >cerrar</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                loading:false,
                menu:false,
                menu_dos:false,
                notificacion:false,
                formData: new FormData,

                formulario:{
                    fecha_inicio:null,
                    fecha_fin:null,
                    responsable:'',
                    descripcion:'',
                    estatus:'',
                    etapa:'',
                    pdf:null,
                },
                etapa:[
                    {id:1,text:'Etapa 1 - Planeación de Arranque'},
                    {id:2,text:'Etapa 2 – Instalación Infraestructura Servidores'},
                    {id:3,text:'Etapa 2 – Instalación Infraestructura Pc´s'},
                    {id:4,text:'Etapa 3 - Transferencia Operativa'},
                ],
                responsable:[
                    'GDC','SESA-LESP'
                ]
            }
        },
        methods: {
            registrar() {
                this.loading = true;
                if (this.$refs.form.validate()) {
                    for (const key in this.formulario) {
                        if (key == 'pdf') {
                           for (const key2 in this.formulario[key]) {
                                let archivo = this.formulario[key][key2];
                                formData.append('pdf[]', archivo)
                            }
                        } else {
                            formData.append(key, this.formulario[key]);
                        }
                        // this.formData.append(key, this.formulario[key]);
                     }
                    axios.post('/actividad',this.formData)
                        .then(
                            response => {
                                if (response.data.success) {
                                    this.notificacion = true;
                                    this.loading = false;
                                    this.$refs.form.reset();
                                    // location.reload();
                                }

                            }
                        )
                } else {
                    setTimeout(() => {
                        this.loading = false;
                        this.$refs.form.resetValidation()
                    }, 3000);

                }


            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
