<template>
    <v-container>
        <div class="pt-0 d-flex flex-no-wrap justify-space-between mt-4">
            <div class="mt-4">
                <span class="headline">Actividades registradas</span>
            </div>
            <div class="mb-5">
                <v-text-field
                v-model="buscar"
                append-icon="search"
                label="Buscar Actividad"
                single-line
                hide-details
                ></v-text-field>
            </div>
        </div>
        <v-divider class="pa-0"></v-divider>
        <v-row dense class="pa-0" no-gutters>
            <v-col cols="12" class="pa-0">
            <v-data-table
                class="ma-2 pa-0"
                :items-per-page="6"
                hide-default-footer
                :loading="Actividades.length == 0"
                loading-text="Cargando registros...espere porfavor"
                :page.sync="pagina"
                @page-count="pageCount = $event"
                :headers="headers"
                :items="Actividades"
                :search="buscar"
            >
                <!-- codigo -->
                <template v-slot:item.codigo="{ item }">
                    <v-chip small color="white" >
                        <span class="font-weight-bold"> {{ item.codigo }}</span>
                    </v-chip>
                </template>

                <!-- estatus -->
                <template v-slot:item.fecha_inicio="{ item }">
                    <v-chip small color="white" >
                        <v-icon small left color="warning">mdi-calendar-range</v-icon>
                        {{ item.fecha_inicio }}
                    </v-chip>
                </template>

                <!-- estatus -->
                <template v-slot:item.fecha_fin="{ item }">
                    <v-chip small color="white" >
                        <v-icon small left color="success">mdi-calendar-range</v-icon>
                        {{ item.fecha_fin}}
                    </v-chip>
                </template>

                <!-- responsable -->
                <template v-slot:item.responsable="{ item }">
                    <v-chip small v-if="item.responsable ==='SESA-LESP'" color="#00ACC1" dark>{{ item.responsable }}</v-chip>
                    <v-chip small v-else-if="item.responsable ==='GDC'" color="#1A237E" dark>{{ item.responsable }}</v-chip>
                    <v-chip small v-else color="#6A1B9A" dark>{{ item.responsable }}</v-chip>
                </template>

                <!-- estatus -->
                <template v-slot:item.estatus="{ item }">
                    <v-chip small :color="item.estatus <= 50 ? 'red':'green'" dark>{{ item.estatus +' %' }}</v-chip>
                </template>

                <!-- etapa -->
                <template v-slot:item.etapa="{ item }">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-avatar v-on="on"  v-if="item.etapa === 1" size="25px" color="blue white--text" >
                                    {{ item.etapa }}
                                </v-avatar>
                            </template>
                            <span>Etapa 1 - Planeación de Arranque</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-avatar v-on="on" v-if="item.etapa === 2" size="25px" color="warning white--text" >
                                    {{ item.etapa }}
                                </v-avatar>
                            </template>
                            <span>Etapa 2 – Instalación Infraestructura Servidores</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-avatar v-on="on" v-if="item.etapa === 3" size="25px" color="orange darken-4 white--text" >
                                    {{ item.etapa - 1 }}
                                </v-avatar>
                            </template>
                            <span>Etapa 2 – Instalación Infraestructura Pc´s</span>
                        </v-tooltip>

                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-avatar v-on="on" v-if="item.etapa === 4" size="25px" color="success white--text" >
                                    {{ item.etapa - 1 }}
                                </v-avatar>
                            </template>
                            <span>Etapa 3 - Transferencia Operativa</span>
                        </v-tooltip>
                </template>

                <!-- estatus -->
                <template v-slot:item.action="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-icon v-on="on"  small color="blue" class="mr-2" @click="editar(item)" >mdi-pencil</v-icon>
                        </template>
                        <span>Editar</span>
                    </v-tooltip>
                    <v-menu>
                        <template v-slot:activator="{ on: menu }">
                            <v-tooltip left>
                                <template v-slot:activator="{ on: tooltip }">
                                    <v-btn :disabled="item.archivos.length == 0" color="primary" rounded dark small text v-on="{ ...tooltip, ...menu }" >
                                        <v-icon small color="blue" class="mr-2" >mdi-file-eye</v-icon>
                                    </v-btn>
                                </template>
                                <span>Ver PDF´s</span>
                            </v-tooltip>
                        </template>
                        <v-list>
                            <v-list-item v-for="(item, index) in item.archivos" :key="index" @click="abrirPDF(item)">
                                <v-list-item-title>{{ item.descripcion +' '+ item.id }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </template>

            </v-data-table>
            <div class="text-center pt-2">
                <v-pagination v-model="pagina" :length="pageCount"></v-pagination>
            </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                buscar: '',
                pagina: 1,
                pageCount: 0,
                headers: [
                    {
                        text: 'CODIGO',
                        align: 'center',
                        sortable: false,
                        value: 'codigo',
                    },
                    {
                        text: 'FECHA INICIO',
                        sortable: false,
                        align: 'center',
                        value: 'fecha_inicio'
                    },
                    {
                        text: 'FECHA FIN',
                        align: 'center',
                        sortable: false,
                        value: 'fecha_fin'
                    },
                    {
                        text: 'RESPONSABLE',
                        align: 'center',
                        sortable: false,
                        value: 'responsable'
                    },
                    {
                        text: 'DESCRIPCIÓN',
                        align: 'left',
                        sortable: false,
                        value: 'descripcion'
                    },

                    {
                        text: 'ESTATUS %',
                        align: 'center',
                        sortable: false,
                        value: 'estatus'
                    },
                    {
                        text: 'ETAPA',
                        value: 'etapa',
                        sortable: false,
                        align: 'center'
                    },
                    {
                        text: 'ACCIÓN',
                        value: 'action',
                        sortable: false,
                        align: 'right'
                    }
                ],
            }
        },
        beforeMount () {
            this.$store.dispatch('getActividades');
        },
        computed: {
            Actividades() {
                return this.$store.state.Actividades;
            }
        },
        methods: {
            editar(item) {
                this.$store.commit('setActividad',item)
                this.$router.push('/administrador/editar');
            },
            abrirPDF(item){
                // console.log(item);
                window.open(`/actividad-archivo/${item.id}`, '_blank');
            },

        },
    }
</script>

<style lang="scss" scoped>

</style>
