<template>
    <v-app>
         <Navbar :clip="false" :color="'grey darken-4'"/>
         <v-content>
             <v-container fluid class="grey lighten-1">
                <v-card width="100%vh" height="calc(100vh - 70px)" color="white" class="ma-0 pa-0">
                    <!-- <v-card-title class="text-center justify-center py-3">
                        <h3 class="font-weight-bold display-1 black--text">Software de ........</h3>
                    </v-card-title> -->
                    <v-toolbar color="blue-grey darken-2" dark>
                        <v-toolbar-title>Panel Administrativo</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>

                            <v-btn text @click="getRuta('/')">
                                    DASHBOARD
                            </v-btn>
                            <v-btn text @click="getRuta('/administrador/tabla')">TABLA DE ACTIVIDADES</v-btn>
                            <v-btn text @click="getRuta('/administrador/registro')">REGISTRO</v-btn>
                        </v-toolbar-items>
                    </v-toolbar>

                    <router-view></router-view>

                </v-card>
             </v-container>
         </v-content>
    </v-app>
</template>

<script>
import Navbar from '../components/utils/Navbar';

    export default {
        components: {
            Navbar,
        },
        data() {
            return {
                tab: null,
            }
        },
        beforeMount () {
            this.$store.dispatch('getActividades');
            this.$store.dispatch('getAvances');
        },
        methods: {
            getRuta(ruta) {
                this.$router.push(ruta);
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
