<template>
    <v-app>
         <Navbar :clip="false" :color="'grey darken-4'"/>
         <v-content>
             <v-container fluid class="grey lighten-1">
                <v-card width="100%vh" height="calc(100vh - 70px)" color="white" class="ma-0 pa-0">
                    <!-- <v-card-title class="text-center justify-center py-3">
                        <h3 class="font-weight-bold display-1 black--text">Software de ........</h3>
                    </v-card-title> -->
                    <v-tabs class="pa-2" v-model="tab" dark color="white" background-color="blue-grey darken-2"  right>
                        <v-tabs-slider color="yellow"></v-tabs-slider>
                        <v-tab>
                            DASHBOARD
                        </v-tab>
                        <v-tab>
                            TABLA DE ACTIVIDADES
                        </v-tab>
                        <!-- <v-tab>
                            REGISTRO DE ACTIVIDADES
                        </v-tab> -->

                        <v-tab-item>
                            <Dashboard/>
                        </v-tab-item>
                        <v-tab-item>
                            <Tabla/>
                        </v-tab-item>
                        <!-- <v-tab-item>
                            <Formulario/>
                        </v-tab-item> -->
                    </v-tabs>
                </v-card>
             </v-container>
         </v-content>
    </v-app>
</template>

<script>
import Navbar from '../components/utils/Navbar';
import Dashboard from '../components/dashboard';
import Tabla from '../components/tabla';
import Formulario from '../components/formulario';

    export default {
        components: {
            Navbar,
            Dashboard,
            Tabla,
            Formulario
        },
        data() {
            return {
                tab: null,
            }
        },
        beforeMount () {
            this.$store.dispatch('getActividades');
            this.$store.dispatch('getAvances');
        },
    }
</script>

<style lang="scss" scoped>

</style>
