<template>
    <v-app>
        <v-content>
            <v-container fluid>
                <v-row align="center" justify="center" style="height:calc(100vh - 100px);">
                    <v-col cols="7" class="text-center">
                        <v-img src="/img/logo-sesa.jpg" max-height="250"></v-img>
                        <span class="d-block font-weight-black display-4 mt-2 white--text teal darken-3" >SESA - LESP</span>
                    </v-col>
                    <v-col cols="4" >
                        <v-card class="elevation-12">
                            <v-toolbar color="#01579B" dark flat>
                                <v-toolbar-title>Inicio de Sesión</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form ref="form"  v-model="valid" lazy-validation>
                                    <v-alert v-if="alertError"  outlined dense type="error" class="text-center">
                                        {{mensaje}}
                                    </v-alert>
                                    <v-text-field label="Usuario" name="Usuario" :rules="requeridoRegla" prepend-icon="person" type="text" required v-model="username"
                                    ></v-text-field>
                                    <v-text-field id="password" label="Contraseña" name="password" required prepend-icon="lock" type="password" :rules="requeridoRegla" v-model="password"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" :loading="loading" @click="validar" >Entrar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                valid: true,
                loading: false,
                mensaje:'',
                alertError:false,
                username:'',
                password:'',
                requeridoRegla: [ v => !!v || '*Campo requerido*' ]
            }
        },
        computed: {
            campos() {
                if (this.username && this.password) {
                    return true;
                }else{
                    return false;
                }
            }
        },
        mounted () {
            var wasPressed = false;
            window.addEventListener("keydown", (e) => {
            e = e || window.event;
            // enter
            if (e.keyCode == 13) {
                e.preventDefault()
                this.validar();
                return false;
            }});
        },
        methods: {
            validar(){
                if (this.campos) {
                    this.iniciarSesion()
                    this.loading  = true;
                }else{
                    if (this.$refs.form.validate()) {
                        this.snackbar = true
                    }
                }
            },
            iniciarSesion(){
                axios.post('login',{username:this.username, password:this.password})
                     .then(
                            response => {
                                if (response.data.success) {
                                    this.loading = false;
                                    location.reload();
                                }else{
                                    this.loading = false;
                                    this.mensaje = 'Credenciales incorrectas';
                                    this.password = '';
                                    this.alertError = true;
                                }
                        })
            }
        },
    }
</script>
<style lang="css" scoped>


</style>


