<template>
    <v-container fluid >
        <v-row justify="space-between" class="py-0 mt-5">
            <v-col cols="6" class="pl-5 py-0">
                <span class="title">Registro de actividades</span>
            </v-col>
            <v-col cols="6" class="py-0 text-end">
                <v-btn  color="cyan darken-1" dark :loading="loading"  @click="registrar()">
                    Registrar
                    <v-icon right>mdi-content-save</v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-form ref="form">
            <v-row justify="center" class="pb-0">
                <v-col cols="6" class="py-0">
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="formulario.fecha_inicio" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_inicio"
                                        label="Fecha inicio"
                                        prepend-icon="event"
                                        readonly
                                        :rules="[v => !!v || 'campo requerido']"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_inicio" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu.save(formulario.fecha_inicio)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="end" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-select
                            v-model="formulario.responsable"
                            :items="responsable"
                            :rules="[v => !!v || 'Responsable es requerido']"
                            label="Responsable"
                            required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6" class="py-0">
                    <v-row justify="start" class="py-0">
                        <v-col cols="6" class="py-0">
                            <v-menu ref="menu_dos" v-model="menu_dos" :close-on-content-click="false" :return-value.sync="formulario.fecha_fin" transition="scale-transition" offset-y  class="mt-0 pt-0">
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="formulario.fecha_fin"
                                        label="Fecha fin"
                                        prepend-icon="event"
                                        readonly
                                        :rules="[v => !!v || 'campo requerido']"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="formulario.fecha_fin" no-title scrollable locale="es">
                                <div class="flex-grow-1"></div>
                                    <v-btn small text color="primary" @click="menu_dos = false">Cancelar</v-btn>
                                    <v-btn small text color="primary" @click="$refs.menu_dos.save(formulario.fecha_fin)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                    <v-row justify="start" class="py-0">
                        <v-col cols="3" class="py-0">
                            <v-text-field
                                v-model="formulario.estatus"
                                prepend-icon="mdi-finance"
                                label="Estatus"
                                required
                                :rules="[v => !!v || 'campo requerido']"
                                hint="Solo valor númerico"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="3" class="py-0">
                            <v-select
                            v-model="formulario.etapa"
                            :items="etapa"
                            :rules="[v => !!v || 'campo requerido']"
                            label="Etapa"
                            required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="6">
                    <v-row justify="center" class="py-0">
                        <v-col cols="12" class="py-0">
                            <!-- <v-text-field
                                v-model="formulario.descripcion"
                                label="Descripcion"
                                counter="255"
                                required
                            ></v-text-field> -->
                            <v-textarea
                                outlined
                                no-resize
                                name="descripcion"
                                v-model="formulario.descripcion"
                                label="Descripción"
                                counter="255"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-form>

        <v-snackbar v-model="notificacion" color="success" right="right" :timeout="2000" top="top"> Actividad registrada!!
            <v-btn  dark text  @click.prevent="notificacion = false" >cerrar</v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                loading:false,
                menu:false,
                menu_dos:false,
                notificacion:false,
                formulario:{
                    fecha_inicio:null,
                    fecha_fin:null,
                    responsable:'',
                    descripcion:'',
                    estatus:'',
                    etapa:''
                },
                etapa:[
                    1,2,3
                ],
                responsable:[
                    'GDC','SESA-LESP'
                ]
            }
        },
        methods: {
            registrar() {
                this.loading = true;
                if (this.$refs.form.validate()) {
                    axios.post('actividad',this.formulario)
                        .then(
                            response => {

                                this.notificacion = true;
                                    this.loading = false;
                                    location.reload();
                                    // this.$refs.form.reset();

                            }
                        )
                } else {
                    setTimeout(() => {
                        this.loading = false;
                        this.$refs.form.resetValidation()
                    }, 3000);

                }


            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
