<template>
<v-app-bar :color="color" app dark  dense :clipped-left="clip">
      <v-toolbar-title>
            <span class="font-weight-light">PORTAL WEB AVANCES</span>
            <span>SESA-LESP</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title class="mr-2">
            <span v-if="!timeOut" class="font-weight-light">Quedan: {{ conteo }}</span>
            <span v-if="timeOut" class="font-weight-light">Quedan: SE AGOTÓ EL TIEMPO!!</span>
      </v-toolbar-title>
      <v-toolbar-title class="mr-2">
            <span class="font-weight-light">Fecha: {{ fecha }}</span>
      </v-toolbar-title>
      <v-toolbar-title>
            <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn icon  v-on="on">
                <v-icon large>mdi-account-circle</v-icon>
            </v-btn>
          </template>
            <v-list>
                <v-list-item @click ="cerrarSesion()">
                    <v-list-item-title>
                        <v-icon color="error" left>exit_to_app</v-icon>
                        Cerrar sesión
                    </v-list-item-title>
                </v-list-item>
            </v-list>
      </v-menu>
      </v-toolbar-title>
</v-app-bar>

</template>

<script>

    export default {
        props: {
            color: String,
            clip: Boolean
        },
        data() {
            return {
                fecha: new Date().toISOString().substr(0, 10),
                hours:0,
                days: 0,
                minutes: 0,
                seconds:0,
                datend: '2019-12-06T00:00',
                timeOut:false
            }
        },
        beforeMount () {
            setInterval(this.updateCounter,1000)
        },
        computed: {
            conteo(){
                return `${this.days}d:${this.hours}h:${this.minutes}m:${this.seconds}s`
            }
        },
        methods: {
            updateCounter(){
                let now = new Date();
                let end = new Date(this.datend);
                let distance = end - now;
                if(distance > 0){
                    this.hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    this.days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    this.seconds = Math.floor((distance % (1000 * 60)) / 1000);
                }else{
                    this.hours = 0;
                    this.minutes = 0;
                    this.days = 0;
                    this.seconds = 0;
                    this.timeOut = true;
                }
            },
            cerrarSesion() {
                axios.post('/logout')
                     .then(
                        response => {
                            location.reload();
                        }
                     )
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>
